@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: rgba(33, 45, 207, 0.61);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.cabecalho-img{
    height: 50px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: white;
    font-size: 18px;
}

.main{
    margin-bottom: 500px;
    padding: 10px;
    border-top: 0.4px solid white;
}

.container{
    width: 900px;
    margin: auto;
    align-items: center;
}

.conteudo{
    width: 30%;
    background: black;
    border-radius: 20px;
    margin: 5px;
    float: left;
    margin-top: 8%;
    text-align: center;
}

.preco{
    width: 120px;
    height: 120px;
    margin: 5% auto 0 auto;
    text-align: center;
}

.detalhes{
    margin-top: -50px;
}

.conteudo h1{
    font-size: 20px;
    color: white;
    line-height: 5;
    text-transform: uppercase;
}

.preco h2{
    font-size: 40px;
    color: white;
}


.detalhes h4{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
    line-height: 1;
}

.conteudo a{
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

.conteudo a:hover{
    text-decoration: none;
    border-radius: 5px;
    border:  2px solid black;
    background: white;
    color: black;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}

.rodape{
    padding: 3px;
    border-top: 0.4px solid white;
}

.rodape-img{
    height: 130px;
    display: block;
    margin: 0  auto;
}