@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: rgba(33, 45, 207, 0.61);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.cabecalho-img{
    height: 50px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: white;
    font-size: 18px;
}

.conteudo{
    padding: 10px;
    margin-bottom: 48px;
    border-top: 0.4px solid white;
}

.conteudo-p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-p-e{
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 64px;
}

.conteudo-p-e-t{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: red;
}

.conteudo-p-e-s{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.conteudo-p-img{
    margin-left: 80px;
    display: flex;
    gap: 10px;
    height: 290px;
    
}
.conteudo-p2{
    padding-top: 10px;
    border-top: 0.4px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-p-e2{
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 64px;
}

.conteudo-p-e-t2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: red;
}

.conteudo-p-e-s2{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.conteudo-p-img2{
    display: flex;
    gap: 10px;
    height: 290px;
    
}
.conteudo-p3{
    padding-top: 10px;
    border-top: 0.4px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-p-e3{
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 64px;
}

.conteudo-p-e-t3{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: red;
}

.conteudo-p-e-s3{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.conteudo-p-img3{
    display: flex;
    gap: 10px;
    height: 290px;
    
}






.rodape{
    padding: 3px;
    border-top: 0.4px solid white;
}

.rodape-img{
    height: 130px;
    display: block;
    margin: 0  auto;
}